<footer class="footer">
  <small>
    Fantasy Baseball Final Project </a>
    by <%= link_to "Nathan Carter", "https://github.com/nwcarter" %>
    and <%= link_to "Bradley Gradneigo", "https://github.com/fang092" %>
  </small>
</footer>